__pycache__/
*.pyc
*.pyo
.env
*.log
.DS_Store
Thumbs.db
node_modules/
.ipynb_checkpoints/
*.tmp
~$*
._*
docs/乡村规划报告-结题报告.pptx
docs/乡村规划报告-结题报告.pdf
docs/珠海万山海洋开发试验区国土空间分区规划.pdf
docs/珠海国土空间规划图册.pdf
docs/桂山镇国土空间资源利用与规划情况分享.pdf
docs/xz.dwg
数据采集/
